*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-big{
    height: 80vh;
    background-color: blue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid-container{
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}
#grid-container > .cell{
    border: 2px solid white;
}
#grid-container > .cell.mediu{
    width:calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid white;
}
#grid-container > .cell.dificile{
    width:calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid white;
}
.header-main{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color:blue;
}
#grid-container > .cell.clicked{
    background-color: aqua;
}


